@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom CSS for specific elements */
@font-face {
  font-family: 'homemade apple';
  src: url('/public/Homemade_Apple/HomemadeApple-Regular.ttf');
  
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/public/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.home {
  font-family: 'homemade apple', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.NavBar{
  /* display: grid; */
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Silkscreen', sans-serif  ;
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  opacity: 0.9;
  position: fixed;
  z-index: 1;
  right:5%;
  background-color: rgba(127, 106, 139, 0.334);
}
.PlanetComponent{
  right: 15%;
  top: 45%;
}

.StarsComponent{
  left: 35%;
  bottom: 7%;
}

.GalaxyComponent{
  left: 55%;
  bottom: 64%;
}

.Cosmos{
  right: 54%;
  bottom: 40%;
}


  h3{
    width: 100%;
    text-align: center;
    font-size: 10rem;
    padding: 20px 0;
    font-weight: 5rem;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }

  .Sky{
    background-image: url('/public/sky.jpg');
    display: flex;
    flex-direction: column;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .Venus{
    position: absolute;
    bottom:40rem;
    left:78rem;
    
  }

  .VenusContainer{
    background-color: rgba(113, 135, 158, 0.279);
    position: absolute;
    top: 25rem; /* Tailwind top-64 equivalent */
    right: 10rem; /* Tailwind right-40 equivalent */
    max-width: 40%; /* Set your desired max-width */
    max-height: 85%; /* Set your desired max-height *//* Enable scrolling */
    padding: 15px; /* Adjust padding to fit your design */
    border: 1px solid black; /* Border settings */
    border-radius: 1rem; /* Tailwind rounded-2xl equivalent */ /* Text color */
    font-size: 1.2rem; /* Tailwind text-sm equivalent */
    transition: transform 0.3s; 
  }